# Define the API endpoint URL
API_DOMAIN=https://api.example.com

# Define the number of top players to be displayed on the home page
TOP_PLAYERS=10

# Define colors as variables
PRIMARY_BACKGROUND_COLOR=bg-primary-main
TEXT_COLOR=text-white
CARD_BACKGROUND_COLOR=bg-primary-orange
CARD_TEXT_COLOR=text-black